/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485cvbnbvscode://vscode.github-authentication/did-authenticate?windowid=1&code=2798e90c1bba9c8e3628&state=ef4edac5-bd1a-4938-a2f0-cc1e02717d53
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-sarif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, #7ed56fb2, #1e906aaf),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 40px;
}
